.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container take the full viewport height */
  width: 100vw;  /* Make the container take the full viewport width */
}
